/*================
      GENERAL
================*/
body {
    margin: 0;
    background-color: #f3f3f3;
    /*#a0dbfe  C0FAA5  f3f3f3*/
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

a:link,
.navi a:visited,
.m_navi a:visited,
.inicio a:visited {
    color: #fff;
}

.navi a:hover {
    color: #B1D0F2;
}

.selected a:visited{
    color: #B1D0F2;
}

#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 5;
}

/*================
      HEADER
================*/
header {
    width: 100%;
    background-color: #116CCF;  /*8DB036 1D547B 3272B2*/
    float: left;
    margin: 0;
    /*For Hamburger*/
    position: relative;
    z-index: 1;
    transition: all 0.3s;
}

header a {
    float: left;
}

.header {
    max-width: 1060px;
    margin: 0 auto;
}

.marca {
    margin: 10px;
}

.marca img {
    max-height: 80px;
}

/*================
    NAVIGATION
================*/

#hamburger div {
    background-color: #fff;
}

.navi {
    float: right;
    max-width: 828px;
    margin: 33px 30px 25px;
}

.navi ul {
    margin: 0;
}

.navi li {
    font-weight: 100;
    font-size: 1em;
    list-style: none;
    display: inline-block;
    padding: 0 12px;
}

.navi a {
    letter-spacing: 1px;
    padding: 10px;
}

.m_navi {
    opacity: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 50%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: #3e3c3d;
    background: -moz-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3c3d), color-stop(100%, #2d2c2d));
    background: -webkit-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -o-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: -ms-linear-gradient(top, #3e3c3d 0%, #2d2c2d 100%);
    background: linear-gradient(to bottom, #3e3c3d 0%, #2d2c2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e3c3d', endColorstr='#2d2c2d', GradientType=0);
    transition: all 0.6s;
}

.m_navi ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

.m_navi li {
    position: relative;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #222222;
    border-top: 1px solid #444444;
    padding: 15px;
}

.m_navi a li {
    color: #fff;
    text-decoration: none;
}

.abrir {
    transform: translateX();
    transition: all 0.3s;
}

/*=============
    INICIO
=============*/

#slider img {
    max-height: 500px;
    height: 100%;
}
/*=============
    NOSOTROS
=============*/

#nosotros {
    background-color: #fff;
}

.contenido h2 {
    margin: 0;
    padding: 180px 40px 80px;
    text-align: center;
    font-size: 1.5em;
    color: #44A4D0;
}

.l-contenido,
.mv-contenido {
    padding: 0;
    margin: 0;
}

.l-contenido li,
.mv-contenido li {
    display: inline-block;
}

.l-contenido img {
    max-height: 315px; 
}

.l-contenido p {
    max-width: 900px;
    padding: 0 20px 80px;
}

.contenido p,
.mv p {
    margin: 0;
    color: #333;
    font-size: 1.05em;
}

.mv-contenido li {
    max-width: 200px;
    padding: 0 20px 80px;
}

.mv h2 {
    margin: 0;
    padding: 0 40px 40px;
    text-align: center;
    font-size: 2.4em;
    color: #44A4D0;
}

.mv p {
    text-align: center;
    font-style: italic;
    padding: 0 10px 80px;
}

/*=============
  SERVICIOS
=============*/

#servicios {
    text-align: center;
    color: #3272B2;
}

#serv1 ul {
    margin:0;
    padding: 0;
}

#serv1 li {
    display: inline-block;
    margin: 30px 20px;
}


#serv1 img {
        margin:0 0 -4;
    padding: 0
}

.service p {
    width: 400px;
    background-color: #fff;
    margin: 0;
    padding: 10px 0;
}


/*================
      FOOTER
================*/

footer {
    background-color: #F1F4F7;
    margin: 0;
}

footer ul {
    padding: 0;
    margin: 0 auto;
    max-width: 834px;
}

.info {
    display: inline-block;
    margin: 45px 0 45px 40px;
    width: 235px;
}

.f-titulo {
    float: left;
    width: 100%;
    height: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: solid 1px #47525D;
}

.f-titulo img {
    max-height: 30px;
    float: left;
}

.f-titulo h2 {
    font-size: 1.2em;
    font-weight: 100;
    color: #47525D;
    margin: 4px 0 4px 10px; 
    float: left;
}

.f-desc p {
    font-size: 0.9em;
    font-weight: 100;
    color: #9C9E9A;
    margin: 4px 0 0;
}

.info a {
    color: #9C9E9A;
}

h1 {
    background-color: #232424;
    color: #fff;
    font-size: 0.8em;
    font-weight: 100;
    padding: 30px 0 30px 0;
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
}

#tori:link,
#tori:visited {
    color: #ed2526;
}